/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

a {
    text-decoration: none;
}

html, body {
    width: 876px;
    min-width: 900px;
    margin: 0 auto;
}

address, p {
    line-height: 1.15;
}

/* nav header */

header {
    position: fixed; /* stretch goal #1 */
    width: 100%;
    padding-top: 25px;
    font-size: 14px;
    height: 61px; 
    background-color: white;
    z-index: 2;
}

header nav {
    display: inline-block;
    width: 700px;
    height: 36px;
    vertical-align: top;
    line-height: 36px;
}

header a {
    color:#bbb;
    margin-right: 66px;
}

header a:last-child {
    margin-right: unset;
}

header img {
    /* position: absolute;
    right: 0; */
    margin-left: 20px; /* stretch goal #1, can't use absolute inside fixed */
}

/* stretch goal #2 */
header a {
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/* stretch goal #5 */
nav a:hover {
    color: #0000ff;
    animation-duration: 2s;
    animation-name: colorful;
    animation-iteration-count: infinite;
}

@keyframes colorful {
    33% {color: #FF0000}
    66% {color: #00FF00}
    100% {color: #0000FF}
}

/* banner section */

#banner {
    position: relative;
    height: 530px;
    padding-top: 170px;
    border-bottom: 1px solid black;
}

#banner img {
    position: absolute;
    right: 0;
    margin-top: -60px;
}

.no-margin {margin:0}

h1 {
    font-size: 75px;
    text-align: center;
}

.button {
    display: block;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    width: 174px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: black;
}

/* stretch goal #5 */
div:hover .button {
    animation-duration: 1s;
    animation-name: spin;
}
      
@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

/* content section */

#content div {
    margin: 36px 0;
}

.half-width {
    display: inline-block;
    width: 49.5%;
}

.third-width {
    display: inline-block;
    width: 32%;
}

.middle {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* footer */

footer {
    border-top: 1px solid black;
    padding: 40px 0;
    margin-top: 10px;
    margin-bottom: 75px;
}

footer address, footer p {
    margin-bottom: 1em;
}

.copyright {
    text-align: center;
    margin-top: 3em;
    font-size: 14px;
}